$color-primario: linear-gradient(to left, #727478, #8c9498, #a7b6b5, #c9d7cf, #f3f8e9);
$color-secundario: linear-gradient(to right, #b5b9c0, #bac8cf, #c1d8d7, #d1e6da, #ebf2db);
$color-terciario:  linear-gradient(to right bottom, #d8dce3, #9f9fa4, #69676a, #363435, #000000);
$espaciado: 20px;
$tipografia-general: 'Bodoni Moda', serif;
$tipografia-secundaria:'Playfair Display SC', serif;



