p{
    font-family: $tipografia-secundaria;
    color: #000000;
    }

.main__contacto {
    background-image: url("../images/remera.jpg");
    background-size: cover;
    height: 100vh;
}

.mb-4 , .mb-3{
    width: 300px;
}

h1{
    font-family: $tipografia-general;
    color: black;
}